#footer
{
	position:relative;
	clear:both; 
	height:70px;
	text-align:center;
	margin-top:10px;
	img.border
	{
		height:5px;
	}
	ul
	{
		margin-top:20px;
		li
		{
			display: inline;
			border-right: 2px solid $color_body;
			padding: 0 17px;
			a{ color:$color_body; text-decoration:none;cursor: pointer}  
			a:visited{ color:$color_body; text-decoration:none;}
			a:hover {color:$color_body !important; background-position:-9px 0; text-decoration:none}
		}
		li:last-child
		{
			border-right: none;
		}
	}
	.copyright
	{
		clear: both;
	}
}