#login-page
{
	min-height: 500px;  
	
	text-aign:center;
	
	form
	{
		padding:90px 0;
		table.table-login
		{
			width: 50%;
			margin:auto;
			tr td
			{
				input.remember
				{
					margin: 0 5px;
				}
			}
		}
	}
	
} 
